img {
    display: block;
    
    height: 100px;
    width: 300px;
    
    margin: auto;
    }
    
    p {
    
    text-align: center;
    font-family: Garamond, serif;
    
    font-size: 18px;
    }
    
div{
    height: 50px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style :dashed;
    border-width: 2px;
    border-radius: 5px;
}
    